* {
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(63, 62, 62);
  gap: 5px;
  padding-top: 80px;
}

.btn {
  margin-bottom: 10px;
}

.card-container {
  width: 280px;
  height: 670px;
  border-radius: 12px;
}

.card {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 10px;
}

.dot {
  height: 15px;
  width: 15px;
  background-color: aliceblue;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

.rec {
  height: 12px;
  width: 12px;
  background-color: black;
  border: solid white 1px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

.card-2 .dot {
  background-color: goldenrod;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

.card-4 .dot {
  height: 15px;
  width: 15px;
  background-color: rgb(190, 15, 15);
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
}

.fa-solid {
  margin-top: 10px;
  font-size: 13px;
}

.fa-trash-can {
  color: rgb(231, 57, 57);
}
.badge {
  height: 20px;
  width: 20px;
  text-align: center;
}
